body {
    background-image: url('ra_view_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.emailLoginContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('ra_view_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
  }
  
  .title {
    font-size: 40px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .textContainer {
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    opacity: 0.8;
  }
  
  .textContainer input[type="email"], .textContainer input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 15px;

  }
  
  .textContainer input[type="submit"] {
    width: 100%;
    background-color: #B2D1FF;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 30px;

  }
  
  .textContainer input[type="submit"]:hover {
    background-color:  rgba(155, 92, 153, 0.56);
  }
  
  .textContainer label {
    font-size: 20px;
  }
  