body {
    background-image: url('ra_view_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    opacity: 0.8;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #ffffff; 
    border: none;
    flex: 1;
    transition: background-color 0.3s ease;
  }
  
  /* button:hover {
    background-color: #ddd;
  }  */
  
  i.material-icons {
    font-size: 200px; /* larger icon */
    color: rgb(204, 204, 204);
  }

  i.material-icons:hover {
    /* color: rgba(9, 152, 218, 0.575); */
    color: rgba(155, 92, 153, 0.56);
    /* color: aqua; */
}

  .title {
    font-size: 40px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
  }
  
.buttonText {
    font-size: 18px; 
    color: #333; 
    font-weight: bold;
  }  