.panel-container {
    flex: 1; 
    margin-left: 310px; /* original 290px + 20px gap */
    width: calc(100% - 310px - 70px); /* adjusted width to account for the added gap */
    padding: 10px;
    height: calc(100vh - 40px);
    overflow: auto;
    background-color: white;
    border-radius: 30px;
    opacity: 1;
    position: fixed;
    right: 30px;
    top: 10px;
}

.post-item {
    display: flex;
    flex-direction: column; /* to stack content vertically */
    align-items: flex-start; /* to align items to the left */
    padding: 15px; 
    border-radius: 30px; 
    background-color: #DFE8DE; /* our figma green background */
    color: #333; /* darker text color for readability */
    width: 100%;
    margin-bottom: 15px; /* space between posts */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    text-align: left; /* text alignment */
}

.post-item h3 {
    margin-bottom: 8px; /* space between title and content */
    font-size: 18px; /* larger font for title */
}

.post-item p {
    font-size: 16px; /* regular font for post content */
    line-height: 1.5; /* better readability for multi-line content */
    margin-bottom: 8px; /* space between paragraphs or other elements */
}

.post-item .timestamp {
    font-size: 12px;
    color: #777; /* lighter color for timestamp */
    margin-top: 10px; /* space above timestamp */
}


.comment-section {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    margin-top: 20px;
}

.comment-section p {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* below is Celine's old version*/
.post-body {
    color: #555;
    margin-bottom: 15px;
    font-size: 1.0rem;
    color:black;
    font-weight: bold;
}
.comment-section input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comment-section button {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #430453;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* below is Celine's old version*/
.comment-item {
    padding: 8px 12px;
    background-color: #C3E2BE;
    border-radius: 8px;
    margin-top: 5px;
    color: #555;
}
.comment-section button:hover {
    background-color: rgba(155, 92, 153, 0.56);
}

