.student-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 250px; /* adjust width as per your preference */
    height: calc(100vh - 40px); /* subtracts 10px from top and 50px from bottom */
    padding: 10px;
    position: relative; /* Change from 'fixed' to 'relative' */
    left: 30px; 
    top: 10px; /* creates a 10px gap from the top of the screen */
    overflow: auto; /* adds a scrollbar if content exceeds sidebar height */
    background-color: white; /* adjust as per your preference */
    border-radius: 30px;
    opacity: 1;
  }

  .student-title {
    font-size: 20px;
    text-shadow: none;
    color: #000;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .student-new-post-button {
    display: flex;
    height: 50px;
    width: calc(100% - 20px);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    border-bottom: 1px solid #e0e0e0;

  }
  
  .student-new-post-button button {
    /* border-bottom: 1px solid #e0e0e0; */
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #430453;
    color:white;
    border: none;
    flex: 1;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .student-new-post-button button:hover {
    background-color: #78b26f;
  }

  .student-new-post-button button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.12);

  }

  .student-profile-button {
    display: flex;
    width: calc(100% - 20px);
    justify-content: space-between;
    border-radius: 30px;
    overflow: hidden;
    position: absolute; /* Sets the position to absolute */
    bottom: 3%; /* Positions the button at the bottom 15% of the sidebar */
    left: 50%;  /* These two properties will center the button */
    transform: translateX(-50%); /* This is to perfectly center the button regardless of its width */

  }

  .student-profile-button button {
    padding: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #2c1a91;
    color:white;
    border: 2px;
    flex: 1;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .student-new-post-button button:hover {
    background-color: rgba(155, 92, 153, 0.56);
  }

  .student-new-post-button button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.12);

  }

  .student-posts {
    /* border-top: 1px solid #e0e0e0; */
    margin-top: 15px;
    width: 100%; /* takes up the remaining width of the sidebar */
    display: flex;
    flex-direction: column;
    gap: 10px; /* creates a gap between posts */
    max-height: calc(97% - 60px); /* Assuming profile button's height (with padding) is around 60px */
    overflow-y: auto; /* Makes it scrollable vertically */

}

.student-post-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 10px;  /* reduced padding for a smaller appearance */
    /* font-size: 16px;  reduced font size */
    background-color: #C3E2BE;
    color: black;
    border: none;
    width: calc(100% - 20px);  /* this should match the width of .new-post-button */
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;  /* to center the text */
    font-size: 1em;
    font-weight: bold;

}

.student-post-item:hover {
    background-color: rgba(155, 92, 153, 0.56);
}

.student-post-item:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.student-tag-filter {
    margin-top: 20px; /* Adjust this value as needed */
}

  
/* General styles for tags */
.student-tags-list {
    /* border-top: 1px solid #e0e0e0; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;  /* Center the tags horizontally */
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.student-tags-list li {
    margin-top: 5px;
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 14px; 
    transition: transform 0.3s;
    margin-bottom: 5px;
}

.student-tags-list li:hover {
    transform: scale(1.05);
}

.student-tags-list li.active-tag {
    font-weight: bold;
}

/* Individual colors for each tag */
.student-tags-list li:nth-child(1) {
    background-color: #ffadad;
}

.tags-list li:nth-child(2) {
    background-color: #ffd6a5;
}

.student-tags-list li:nth-child(3) {
    background-color: #fdffb6;
}

.student-tags-list li:nth-child(4) {
    background-color: #caffbf;
}

.student-tags-list li:nth-child(5) {
    background-color: #9bf6ff;
}

.student-tags-list li:nth-child(6) {
    background-color: #a0c4ff;
}

.student-tags-list li:nth-child(7) {
    background-color: #bdb2ff;
}

.student-tags-list li:nth-child(8) {
    background-color: #ffc6ff;
}
